node_modules
.next
.next-prod
.next-build
.next-check
backups
.git
.gitignore
.env
.env.local
.env.*.local
Website.rar
coverage
playwright-report
test-results
npm-debug.log*
yarn-debug.log*
yarn-error.log*
