EXPO_PUBLIC_WEBAPP_URL=https://www.sneekholdings.com
EXPO_PUBLIC_APP_NAME=sNeek
EXPO_PUBLIC_APP_SCHEME=sneekmobile
EXPO_PUBLIC_IOS_BUNDLE_IDENTIFIER=com.sneek.mobile
EXPO_PUBLIC_ANDROID_PACKAGE=com.sneek.mobile
EXPO_PUBLIC_EAS_PROJECT_ID=
